@CHARSET "UTF-8";

@import url("base.css");

.content div {
	width: 750px;
	margin-left: 15%;
	margin-right: 30%;
	position: relative; 
	top: 20px;
	text-align: left;
	font-family: Arial;
	font-size: 18px;
}

.details {
	margin-top: 15px;
}

.table {
	text-align: center;
}